@model WebRole1.Models.PiSpyDevice
@{
    ViewBag.Title = "Delete";
}

<h2>Delete PiSpy @Model.Name?</h2>

@Html.ActionLink("Cancel", "Index")

<hr />

<p>Are you sure? This action cannot be undone.</p>

<div class="row">
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>@Model.Name</dd>

        <dt>Serial Number:</dt>
        <dd>@Model.SerialNumber</dd>

        <dt>Location:</dt>
        <dd>@Model.Location</dd>

        <dt>Notes:</dt>
        <dd>@Model.Notes</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
</div>